
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#e9edf1;
  color:#333;
}


.hero{
  height:70vh;
  background: url("https://media.licdn.com/dms/image/v2/D4D12AQGDMxD7iJHqIg/article-cover_image-shrink_600_2000/article-cover_image-shrink_600_2000/0/1729441731139?e=2147483647&v=beta&t=i8OVY7AU0vhx_L3PIK0nBckVmQTzSfJ5Lh-paDQDedI") center/cover no-repeat;
  position:relative;
}
.overlay{
  background:rgba(20,30,40,0.75);
  height:100%;
  color:#fff;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
}
.overlay h1{
  font-size:42px;
}
.meta{
  margin-top:10px;
  font-size:18px;
  color:#d0d7de;
}
.overlay button{
  margin-top:20px;
  padding:12px 30px;
  background:#2f6fed;
  border:none;
  color:#fff;
  font-size:16px;
  cursor:pointer;
  border-radius:5px;
  transition:0.3s;
}
.overlay button:hover{
  background:#1e40af;
}

/* SECTIONS */
.section{
  padding:60px 12%;
  background:#f1f4f7;
}
.section h2{
  margin-bottom:20px;
  color:#1f2933;
}
.section p{
  line-height:1.8;
}

/* DARK SECTIONS */
.dark{
  background:#dde3ea;
}

/* SYLLABUS MODULES */
.module{
  background:#cfd8e3;
  padding:20px;
  margin-bottom:15px;
  border-left:5px solid #2f6fed;
}
.module h3{
  margin-bottom:8px;
  color:#1f2933;
}

/* COURSE HIGHLIGHTS CARDS */
.syllabus-item {
  border-left: 5px solid #1e40af;
  background-color: #dbeafe;
  padding: 16px 20px;
  margin-bottom: 16px;
  font-size: 15px;
  line-height: 1.6;
  border-radius: 8px;
}

/* FORM POPUP */
.popup{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  justify-content:center;
  align-items:center;
  z-index:1000;
}
.form-box{
  background:#eef2f6;
  padding:30px;
  width:360px;
  border-radius:8px;
}
.form-box input{
  width:100%;
  padding:10px;
  margin-bottom:15px;
  border:1px solid #aaa;
  border-radius:5px;
}
.form-box button{
  width:100%;
  padding:12px;
  background:#2f6fed;
  color:#fff;
  border:none;
  font-size:16px;
  border-radius:5px;
  cursor:pointer;
  transition:0.3s;
}
.form-box button:hover{
  background:#1e40af;
}


.form-box input,
.form-box select{
  width:100%;
  padding:10px;
  margin-bottom:15px;
  border:1px solid #aaa;
}

.close{
  float:right;
  cursor:pointer;
  font-size:20px;
  font-weight:bold;
}
