*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#e9edf1;
  color:#333;
}

.hero{
  height:70vh;
  background:url("https://repository-images.githubusercontent.com/688590848/55c4a0d2-7701-47a9-9844-fe723f636199")
  center/cover no-repeat;
}

.overlay{
  background:rgba(20,30,40,0.75);
  height:100%;
  color:#fff;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
}

.overlay h1{
  font-size:42px;
}

.meta{
  margin-top:10px;
  font-size:18px;
  color:#d0d7de;
}

.overlay button{
  margin-top:20px;
  padding:12px 30px;
  background:#2f6fed;
  border:none;
  color:#fff;
  font-size:16px;
  cursor:pointer;
}


.section{
  padding:60px 12%;
  background:#f1f4f7;
}

.section h2{
  margin-bottom:20px;
  color:#1f2933;
}

.section p{
  line-height:1.8;
}


.dark{
  background:#dde3ea;
}

.module{
  background:#cfd8e3;
  padding:20px;
  margin-bottom:15px;
  border-left:5px solid #2f6fed;
}

.module h3{
  margin-bottom:8px;
}


.syllabus-item{
  border-left:5px solid #1e40af;
  background:#dbeafe;
  padding:16px 20px;
  margin-bottom:16px;
  border-radius:8px;
}


.popup{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.6);
  justify-content:center;
  align-items:center;
  z-index:1000;
}

.form-box{
  background:#fff;
  padding:30px;
  width:360px;
}

.form-box input,
.form-box select{
  width:100%;
  padding:10px;
  margin-bottom:15px;
  border:1px solid #aaa;
}

.form-box button{
  width:100%;
  padding:12px;
  background:#2f6fed;
  color:#fff;
  border:none;
  font-size:16px;
}

.close{
  float:right;
  cursor:pointer;
  font-size:20px;
}
